<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Tests "FOR cikli"</title>
  <link href="../static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="virsraksts">Tests par FOR cikliem, Python</div>
  <div class="apraksts">
      <div class="aprakstsd">
          <h2> Tavs uzdevums ir atbildēt uz jautājumiem par FOR ciklu! </h2>
          <p>✦ Tiek uzdoti 10 jautājumi par tēmu:<br>
              "Cikls ar priekšnosacījumu programmēšanas valodā Python"<br>
              ✦ Doti 4 atbilžu varianti, taču tikai viens no tiem ir pareizs<br>
              ✦ Uz katru jautājumu atbildat vienu reizi<br>
              ✦ Atbilžu varianti tiks parādīti pēc testa izpildes</p>
          <h1>✦ Lai veicas! ✦</h1>
      </div>
      <br>
      <div class="pogas">
          <a href="/tests">
              <input type="button" class="poga" value="Sākt">
          </a>
      </div>
  </div>
  <div class="autors">&copy; V.Adolfi<br>Liepāja 2024</div>
</body>

</html>